html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Box sizing reset
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Main Content
  ========================================
*/

body {
  background: #ffffff;
  color: #666666;
  font-family: Arial, sans-serif;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 640px;
}

h1 {
  background: #febf00;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 35px;
}

p {
  padding: 35px;
}

ul {
  margin: 0 auto;
  width: 90%;
}

li {
  border: 2px solid #febf00;
  border-bottom: 0;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: background ease 0.3s;
  width: 32.81%;
}
li.selected {
  background: #febf00;
  color: #ffffff;
}

li a {
  color: inherit;
  display: block;
  letter-spacing: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
}
li:not(.selected):hover {
  background: #febf00;
}

table {
  margin: 0 auto;
  width: 80%;
}
tr:hover td {
  border-color: #dddddd;
}
td {
  color: #febf00;
  padding: 10px;
}
td:nth-child(1) {
  background: #ffffff;
  border: 2px solid #febf00;
  font-size: 18px;
  font-weight: bold
}
td:nth-child(2) {
  color: #666666;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
}
td:nth-child(3) {
  border: 2px solid #febf00;
  font-size: 18px;
  text-align: right;
}
