html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Box sizing reset
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Main Content
  ========================================
*/

body {
  color: #666;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
}

header {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 20px 0px #ccc inset;
  color: #aaa;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px;
}

header #timer {
  font-size: 28px;
  text-align: center;
  width: 100%;
}

#fields {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0px #ccc inset;
  margin: 0 auto;
  max-width: 300px;
  position: relative;
  width: 100%;
}
#splash {
  border-radius: 5px;
  box-shadow: 0 0 20px 0px #ccc inset;
  color: #999;
  cursor: pointer;
  height: 100%;
  max-width: 300px;
  position: absolute;
  text-align: center;
  transition: box-shadow ease 0.3s;
  width: 100%;
}
#splash > p {
  font-size: 18px;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
}
#splash.game-start {
  background: url('../img/microminesweeper.png') no-repeat center, #fff;
}
#splash:hover {
  box-shadow: 0 0 20px 0px #bbb inset;
  color: #000;
}
#splash.game-start > p {
  bottom: 50px;
}

#fields > div {
  background: url('../img/field.jpg') no-repeat;
  background-size: cover;
  border-radius: 5px;
  color: rgba(0,0,0,0.35);
  cursor: pointer;
  display: inline-block;
  float: left;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  text-align: center;
  transition: all ease 0.3s;
  width: 11.1111%;
}
#fields > div:hover {
  opacity: 0.5;
}

#fields > div.hidden {
  background: url('../img/minefield.jpg') no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px 0px #fff inset;
  color: rgba(220,220,220,1);
  font-size: 0;
}
#fields > div.hidden:hover {
  opacity: 0.5;
}

#fields > div.failure {
  background: url('../img/mine.jpg') no-repeat;
  background-size: cover;
}

#fields > div.flagged {
  background: url('../img/mineflagged.jpg') no-repeat;
  background-size: cover;
}
