html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Box sizing reset
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Main Content
  ========================================
*/

h1 {
  border: 1px solid #ddd;
  color: #666;
  font-size: 20px;
  font-family: Lato, Arial, sans-serif;
  line-height: 25px;
  padding: 20px 0 25px 0;
  text-align: center;
  text-transform: capitalize;
}

#so-simple-slider {
  background: #fff;
  display: block;
  margin: 10px auto;
  max-width: 960px;
}

#sss-frame {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px #eee;
  display: block;
  height: 382px;
  margin: 0 auto;
  position: relative;
  width: 337px;
}

#sss-preview-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 38%;
  width: 150px;
}

#sss-images img,
#sss-frame div:not(:first-of-type) {
  position: absolute;
}

#sss-images img {
  display: none;
}

#sss-left,
#sss-right {
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  bottom: 25%;
  color: #ccc;
  display: block;
  font-size: 60px;
  height: 100px;
  line-height: 85px;
  text-align: center;
  transition: all ease 0.3s;
  width: 40px;
  z-index: 1000;
}
#sss-left {
  border-right: 1px solid #ddd;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  left: 0;
}
#sss-left:after {
  content: '\2039';
}
#sss-right {
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  right: 0;
}
#sss-right:after {
  content: '\203A';
}
#sss-left:hover,
#sss-right:hover {
  border-color: #aaa;
  color: #aaa;
  cursor: pointer;
}

#sss-ctrl {
  background: #fff;
  display: block;
  padding: 10px;
  text-align: center;
}
#sss-ctrl ul {
  border: 1px solid #eee;
  margin: 0 auto;
  width: 337px;
}
#sss-ctrl ul li {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  width: 15px;
}
#sss-ctrl ul li.selected:after {
  color: #666;
  content: '\2022';
  font-size: 38px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 7px;
}